<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE root [<!ELEMENT root ANY><!ELEMENT item ANY><!ATTLIST item ID ID #REQUIRED><!ATTLIST item Explanation CDATA #IMPLIED>]>
<root>
	<item ID="IL8N" Explanation="Language must fit the folder name in WebContent/language/">zh-cn</item>
	<item ID="PAPER_FILE_PATH">C:\Users\Administrator\git\ICT-HighSchool-Question\WebContent\file\upload\paper\paper.xls</item>
	<item ID="DB_TYPE">excel</item>
</root>